<ul class="nav navbar-nav navbar-right">
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SetLanguage" asp-route-CultureName="en-US">@WebResource.English</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SetLanguage" asp-route-CultureName="zh-TW">@WebResource.Chinese</a>
    </li>
</ul>